/*
	Admin Tools Specific Styling
*/
.admin-actions {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	text-align: left;
	width: 400px;
}

ul.admin-actions li {
	margin-bottom: 3rem;
}

ul.admin-actions li a {
	width: 100%;
}

.container.tool-area.tools {
	width: 48%;
	float: left;
	margin-left: 1%;
}

.container.tool-area.data-feed {
    display: block;
    justify-content: left;
    align-items: left;
    text-align: left;
    min-height: 600px;
	max-height: 600px;
    border: 1px solid #CFCFCF;
    -webkit-flex-align: left;
    -ms-flex-align: left;
    -webkit-align-items: left;
	
	width: 48%;
	float: right;
	margin-right: 1%;
	
	overflow-x: hidden;
    overflow-y: scroll;
}

.data-information {
	/* This is needed to realign the top of the div */
	margin-top: 2.5rem;
}

.data-information pre {
	overflow: hidden;
}

.tools-header {
	position: absolute;
    color: #000000;
    background-color: #FFFFFF;
    width: 100%;
    top: 0px;
    left: 0px;
	text-align: center;
}

.data-tool {
	/*overflow-x: scroll;*/
}

.container.database {
	width: 48%;
    float: left;
    margin-left: 1%;
    max-width: none;
    text-align: left;
    min-height: 600px;
    border: 1px solid #CFCFCF;
}

form#gameinformation-tool {
	margin-left: 3rem;
    margin-top: 4rem;
}

#database-tools {
	width: 400px;
    margin: 50px auto;
}

#database-tools h2 {
	background-color: #ccc;
    margin: 0px;
}

#database-tools h2 a{
	color: #fff;
    line-height: 42px;
    display: block;
    font-size: 12pt;
    width: 100%;
    text-indent: 10px;
	
	text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(250, 250, 250, .2);
}

#accordion h2:first-of-type {
    background-color: #fa9300;
    background-image: -moz-linear-gradient(top,  #fa9300 0%, #dc621e 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fa9300), color-stop(100%,#dc621e)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #fa9300 0%,#dc621e 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  #fa9300 0%,#dc621e 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #fa9300 0%,#dc621e 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #fa9300 0%,#dc621e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa9300', endColorstr='#dc621e',GradientType=0 ); /* IE6-9 */
}

#database-tools h2 + ul {
	padding: 10px;
    background: #fff;
    margin: 0;
}

#database-tools h2 + ul li {
	margin: 10px 20px;
    list-style-type: circle;
}

.loading-overlay {
	min-height: 600px;
	min-width: 600px;
	display: none;
}

#loading-data {
	position: absolute;
    top: 50%;
    left: 50%;
}
