/*
	Admin Home Specific Styling
*/

.form-group:first-of-type {
	margin-top: 4rem;
}

.container.tool-area {
	/* Style overwrites */
	width: 95%;
	max-width: none;
	
	text-align: center;
	min-height: 600px;
	border: 1px solid #CFCFCF;
}

.tool-banner {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;      
}

.form-group {
	margin-top: -1rem;
}

.email-button {
	width: 40%;
	margin-left: 28.5%;
}