/*
	Admin Tools Specific Styling
*/
.admin-actions {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	text-align: left;
	width: 400px;
}

ul.admin-actions li {
	margin-bottom: 3rem;
}

ul.admin-actions li a {
	width: 100%;
}